body{
  background-color: indianred;
  text-align: center;

}
p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
form{
  border-radius: 12px 20px;
  padding: 5px;
}
h2{
  font-style: oblique;
  color: darkslategrey;
  font-size: xx-large;
}
input{
  color: darkgreen;
}
::placeholder{
  color: green;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:darkslategrey;
  color: white;
  text-align: center;
}
